$noto: "Noto Sans KR", sans-serif;
$quick: "Quicksand", sans-serif;

$yellow: #E2B640;
$black: #010204;
$white: #FEFDFB;
$red: #FD2F4A;

@import "aviators";
@import "training";
@import "header";
@import "denied";
@import "home";

* {
    list-style: none;
    padding: 0;
    margin: 0;
}

%frame {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

body {
    background-color: $black;
    font-family: $noto;
    position: relative;
    overflow: hidden;
    color: $white;
    height: 100vh;
    width: 100vw;
}

main {
    grid-template: 50px 1fr / 1fr;
    @extend %frame;
    display: grid;
}

section {
    @extend %frame;
}